.container {
    display: inline-block;
    width: 450px;
    height: fit-content;
    background: #7b7a7a5b;
    padding: 2em;
    border-radius: 1em;

}

.name-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.firstName {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.lastName {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

label {
    font-size: 1em;
    font-weight: bold;
    color: rgb(41, 41, 41);
}

input {
    background: transparent !important;
    border: none;
    font-size: 1em;
    padding: 0.5em;
    outline: none;
}

input:focus {
    background: transparent !important;
    outline: none;
}

input:active {
    background: transparent !important;
    outline: none;
}

.email-password {
    display: block
}

.email-password input {
    width: 96%;
    margin-top: 10px;
}

.email {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}


.password {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

button {
    background-color: #0d21d6;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
}

button:hover {
    background-color: #fff;
    color: #0d21d6;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    .name-container {
        flex-direction: column;
    }

    .firstName, .lastName {
        width: 100%;
        margin-bottom: 10px;
    }

    .email-password {
        display: flex;
        flex-direction: column;
    }

    .email, .password {
        width: 100%;
        margin-bottom: 10px;
    }
}
