.App {
    display: flex;
    justify-content: flex start;
    align-items: center;
    height: 100vh;
    padding-left: 100px;
}

@media (max-width: 768px) {
    .App {
        padding-left: 0;
    }
}